html, body {
    margin: 0;
    padding: 0;
}

.nav-logo {
    width: 50px;
    padding-left: 10px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 25px rgb(153, 153, 153)
}
.nav-items {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.nav-items > li {
    padding: 10px;
    font-size: 18px;
}